<div class="navbar bg-red-400 text-white px-8">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl font-[satisfy]" href="/">TinyScholars</a>
  </div>
  <div class="flex-none">
    <% if (userRole) { %>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="<%= userImage  %>" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-red-400 text-white rounded-box w-52">
        <li>
          <a class="justify-between" href="/profile/<%= userId %>">
            Profile
            <span class="badge bg-white border-none text-black">New</span>
          </a>
        </li>
        <% if (userRole === "Student") { %>
        <li>
          <a href="/course">Courses</a>
        </li>
        <li>
          <a href="/transaction/<%= userId %>">Transactions</a>
        </li>

        <% }else { %>
        <li>
          <a href="/student-list">Student List</a>
        </li>
        <% } %>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <% } else { %>
    <a href="/login" class="font-mono">Login</a>
    <% } %>
  </div>
</div>
