<html lang="en">
  <%- include('./partials/head') %>
  <body class="bg-white text-black">
    <%- include('./partials/navbar') %>
    <div class="text-center py-10 font-mono">
      <h1 class="text-3xl font-[satisfy]">Login Now</h1>
    </div>
    <% if (error) { %>
    <p class="text-center text-red-900 py-5"><%= error %></p>
    <% } %>
    <form action="/login" method="post" class="flex mb-2">
      <div class="card w-full max-w-sm shadow-2xl m-auto">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Email</span>
            </label>
            <input type="text" placeholder="email" class="input border border-black bg-white" name="email" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Password</span>
            </label>
            <input type="password" placeholder="password" class="input border border-black bg-white" name="password" />
          </div>
          <div class="form-control mt-6">
            <input class="btn bg-red-400 text-white border-none hover:bg-red-600" type="submit" value="Login" />
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
