<html lang="en">
  <%- include('./partials/head') %>
  <body class="bg-white text-black pb-5">
    <%- include('./partials/navbar') %>
    <div class="text-center py-10 font-mono">
      <h1 class="text-3xl font-[satisfy]">Register Now</h1>
    </div>
    <form action="/register" method="post" class="flex">
      <div class="card w-full max-w-sm shadow-2xl m-auto">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Email</span>
            </label>
            <input type="text" placeholder="email" class="input border border-black bg-white" name="email" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Password</span>
            </label>
            <input type="password" placeholder="password" class="input border border-black bg-white" name="password" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Role</span>
            </label>
            <select name="role" class="select border border-black w-full max-w-xs bg-white">
              <option disabled selected>Select Role</option>
              <option value="Student">Student</option>
              <option value="Parent">Parent</option>
            </select>
          </div>
          <label for="">
            <span class="text-sm">Already have account? <a href="/login" class="text-blue-600">Login</a></span>
          </label>
          <div class="form-control mt-6">
            <input class="btn bg-red-400 text-white border-none hover:bg-red-600" type="submit" value="Register" />
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
