<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="text-center">
      <form action="/login" method="post" class="flex">
        <div class="card w-full max-w-sm shadow-2xl m-auto">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text text-black">Email</span>
              </label>
              <input type="text" placeholder="email" class="input border border-black bg-white" name="email" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-black">Password</span>
              </label>
              <input type="password" placeholder="password" class="input border border-black bg-white" name="password" />
            </div>
            <label for="">
              <span class="text-sm">Dont have account? <a href="/register" class="text-blue-600">Register</a></span>
            </label>
            <div class="form-control mt-6">
              <input class="btn bg-red-400 text-white border-none hover:bg-red-600" type="submit" value="Login" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
